.demoStyle {
    text-align: left;
    color: white;
    background-color: #bba52a;
    padding: 1rem 7rem;
    // height: 100vh;
}

.link {
    text-decoration: none;
    color: inherit
}

.topicDescription {
    color: black;
}