.formItem {
    margin-bottom: 1rem;
}

.loginButton {
    border-radius: 10px;
    border: none;
    background-color: #af3bcc;

    &:hover {
        background-color: #d738ff;
    }
}

.input {
    border-radius: 10px;
    border: none;
}