.container {
    width: 100%;
    max-width: 30ch;
    margin: 0.7rem 0;
}

.bubble {
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 14px;
    word-wrap: break-word;
    // box-shadow: 0 4px 8px 0 rgba($color: gray, $alpha: 0.35);
}

.container .away {
    @extend .bubble;
    border-top-left-radius: 0;
    background-color: #ddd;
    box-shadow: 2px 5px 8px 0 rgba($color: #888, $alpha: 0.4);
    margin-left: 1rem;
    right: 0;
}

.container .home {
    @extend .bubble;
    color: white;
    border-top-right-radius: 0;
    background-color: #af3bcc;
    box-shadow: -2px 5px 15px 2px rgba($color: #8a04c9, $alpha: 0.2);
    margin-left: -1rem;
}

.message {
    // background-color: red;
}

@media only screen and (max-width: 400px) {
    .container {
        max-width: 70%;
    }

    .bubble {
        padding: 5px 10px;
    }
}
