.container {
    width: 18rem;
    color: white;
    border-radius: 14px;
    // border: 2px solid #eeeded;
    border: 2px solid #640391;
    padding: 1.5rem 1rem;
    background-color: #640391;

    box-shadow: 0 4px 8px 0 rgba($color: #8a04c9, $alpha: 0.3);
    transition: 0.3s;

    &:hover {
        box-shadow: 0 8px 16px 0 rgba($color: #8a04c9, $alpha: 0.2);
    }
}

.title {
    color: white;
    font-size: 32px;
    margin-bottom: 1rem;
}

.animatedBackground {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../../../assets/Flowing\ sententeces.png");
    background-repeat: repeat;
    background-position: 0 0;
    background-size: auto 100%;
    /*adjust s value for speed*/
    animation: animatedBackground 400s linear infinite;
}

@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    /*use negative width if you want it to flow right to left else and positive for left to right*/
    to {
        background-position: -10000px 0;
    }
}